{% extends "gestion/base.html" %}
{% load tag %}
{% block content %}

<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                Recherche
            </div>
		<form action = "{% url 'animals' %}" method="post">
            <div class="card-body">
                {%csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.name.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.race.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.race }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
		    		    {{ form.type.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ form.type }}
                    </div>
                </div>
                
                <div class="text-right">
                    <button class="btn btn-info" type="submit"> <i class="fa fa-search" aria-hidden="true"></i> Rechercher</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<div class="table-responsive-sm p-4">
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Type</th>
            <th scope="col">Sexe</th>
        </tr>
        </thead>
        <tbody>
        {% for animal in animal_list %}
        <tr class="table-info">
            <td><a href= "{% url 'detail_animal' animal.id %}">{{animal.name}}</a></td>
            <td>{{animal.get_type_display}}</td>
            <td>{{animal.get_sex_display}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if animal_list.has_previous %}
        <a href="?{% param_replace page=animal_list.previous_page_number%}">Précédente</a> -
        {% endif %}

        <span class="current">
            Page {{ animal_list.number }} sur {{ animal_list.paginator.num_pages }}
        </span>

        {% if animal_list.has_next %}
        - <a href="?{% param_replace page=animal_list.next_page_number%}">Suivante</a>
        {% endif %}
    </div>
</div>
<div class="text-right">
    <a href= "{% url 'create_animal' %}" class="btn btn-info">Ajouter un animal</a>
</div>

{% endblock %}