__pycache__
/osteopathe/__pycache__
migrations
db.sqlite3
/gestion/__pycache__/urls.cpython-310.pyc
/gestion/forms/__pycache__/__init__.cpython-310.pyc
/gestion/forms/__pycache__/animals.cpython-310.pyc
/gestion/migrations/0001_initial.py
/gestion/migrations/__pycache__/0001_initial.cpython-310.pyc
/gestion/models/__pycache__/animal.cpython-310.pyc
/gestion/views/__pycache__/animals.cpython-310.pyc
venv
/.idea/vcs.xml
