/* Affichage des erreurs de formulaire */
ul.errorlist {
    margin: 0;
    padding: 0;
}
.errorlist li {
    border: 1px solid red;
    color: red;
    background: rgba(255, 0, 0, 0.15);
    list-style-position: inside;
    display: block;
    font-size: 1.2em;
    margin: 0 0 3px;
    padding: 4px 5px;
    text-align: center;
    border-radius: 3px;
}

.btn-info {
    color: #fff;
    background-color: #7bb074;
    border-color: #7bb074;
}

.btn-info:hover {
    color: #fff;
    background-color: #74b085;
    border-color: #74b085;
}

.table-info, .table-info>td, .table-info>th {
    background-color: #ecffe9;
}

.table-info tbody+tbody, .table-info td, .table-info th, .table-info thead th {
    border-color: #7bb074;
}

a {
    color: #7bb074;
    text-decoration: none;
    background-color: transparent;
}

/* Champs required en gras */
label.required { font-weight: bold; }